/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.navbar-toggle {
	    display: block;
	    text-align: center;
	}

	.list {
		margin-bottom: 20px;
		width: 100%;
		display: none;
	}

	.list__item {
		display: block;
	}

	.list__item a {
		padding: 20px;
	}

	.block {
		width: 100%;
	}

	.contact-form__input[type=text], .contact-form__textarea {
	    width: 100%;
	}

	.contact-form__element {
		margin: 20px auto;
		padding: 20px 0;
	}

	.contact-form__element[placeholder], .contact-form__select, .contact-form__dropdown a {
		font-size: 18px;
	}

	.contact-form__fieldset {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.block__description {
		width: 100%;
	}

	.contact-form__element.contact-form__button {
		padding: 16px 30px;
	}

	.contact-form__element .contact-form__label {
		margin-top: 0;
		padding-bottom: 0;
	}
	
	.contact-form__element.contact-form__textarea {
		text-align: center;
	}

}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	
}