.dropcontainer {
	position:relative;
	font-size: 16px;
	color: #777;
} 

.trigger {
	padding: 20px;
	font-size: 16px;
	width: 50%;
	background: #fff url(../images/select-arrow-open.png) 98% center no-repeat;
	display: block;
	border: 1px solid #dadada;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
	text-align: center;
	margin: 0 auto;
	color: #c9c9c9;
	font-size: 24px;
	font-family: Roboto;
	font-weight: 400;
	text-decoration: none;
}

.trigger:hover {
	background: transparent url(../images/select-arrow-open.png) 98% center no-repeat;
}

.activetrigger {
	padding: 20px;
	font-size: 16px;
	width: 50%;
	background: transparent url(../images/select-arrow-close.png) 98% center no-repeat;
	display: block;
	border: 1px solid #dadada;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
	color: #c9c9c9;
	font-size: 24px;
	font-family: Roboto;
	font-weight: 400;
	text-decoration: none;
}

.activetrigger:hover {
	background: transparent url(../images/select-arrow-close.png) 98% center no-repeat;
}

.activetrigger:active {
	background: #f5f5f5 url(../images/select-arrow-close.png) 98% center no-repeat;
	color: #777;
}

.dropcontainer ul {
	font-size: 16px;
	border: 1px solid #ccc;
	border-top: none;
	background: #fff;
	list-style-type: none;
	padding: 10px 5px;
	margin: 0;
	width: 50%;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 25%;
}

.dropcontainer ul li {
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
}

.dropcontainer ul li:hover {
	outline: none;
}

.dropcontainer ul li:first-child {
	display: none;
	margin-top: 30px;
}

.dropcontainer ul li:last-child {
	border-bottom: none;
}

.dropcontainer ul li a { 
	color: #435993;
	text-decoration: none;
	font-size: 20px;
}

.dropdownhidden {
	display: none;
}

.dropdownvisible {
	display: none;
	height: auto;
}

.dropdownvisible {
	height: 266px;
}