body {
    width:100%;
    margin:0;
    background-color:#fff;
    font-family: Roboto;
    font-size:14px;
    color:#161616;
}

.container {
	margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.header {
	width:100%;
	margin-bottom: 130px;
	border-bottom: 1px solid #dadada;
}

/* MENU*/

.list {
	width: 768px;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

.list__item {
	list-style: none;
	display: inline-block;
}

.list__item a {
	color: #345996;
	font-weight: 300;
	padding: 30px 40px 35px 40px;
	text-decoration: none;
	display: block;
}

.list__item a:hover {
	color: #161616;
}

.navbar-toggle {
    position: relative;
    display: none;
    padding: 9px 10px;
    margin: 20px auto;
    background-color: transparent;
    background-image: none;
    border: 1px solid #373737;
    border-radius: 4px;
    outline:none;
}

.navbar-toggle:hover {
	cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar-toggle .icon-bar {
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #373737;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

/* END OF MENU */


/* BLOCK */

.block {
	width:768px;
	margin: 0 auto 40px auto;
	text-align: center;
	clear: both;
}

.block__mainheading {
	font-family: Roboto;
	font-weight: 100;
    font-size:70px;
    color:#161616;
    width:100%;
    text-align: center;
}

.block__heading {
	font-family: Roboto;
	font-weight: 300;
    font-size:30px;
    color:#161616;
    width:100%;
    text-align: center;
    margin-bottom: 10px;
}

.block__description {
	font-size: 16px;
	text-align: center;
	width: 510px;
	margin: 0 auto 44px auto;
	font-weight: 300;
}

/* END OF BLOCK */

/* FORM */

.contact-form {
	text-align: center;
	margin-bottom: 70px;
}

.contact-form__element {
	border: 1px solid #dadada;
	border-radius: 4px;
	padding: 20px;
	display: block;
	margin: 20px auto;
	text-align: center;
}

.contact-form__element[placeholder], .contact-form__select {
	color: #c9c9c9;
	font-size: 24px;
	font-family: Roboto;
	font-weight: 400;
}

.contact-form__element option {
	color: #435993;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;
}

.contact-form__element option:hover {
	background-color: black;
}

.contact-form__element option:first-child {
	margin-top: 30px;
}

.contact-form__element option:last-child {
	margin-bottom: 30px;
}

::-webkit-input-placeholder {
    color: #c9c9c9;
    opacity: 1 !important;
}

::-moz-placeholder {
    color: #c9c9c9;
    opacity: 1 !important;
}

.contact-form__input[type=text]  {
	width: 520px;
}

.contact-form__select {
	width: 320px;
}

.contact-form__fieldset {
	float: left;
	width: 33.3%;
	padding: 0;
	border: none;
	text-align: left;
	font-size: 16px;
	font-weight: 300;
	line-height: 34px;
}

.contact-form__fieldset_for-input {
	width:100%;
	margin-bottom: 70px;
}

.contact-form__fieldset_for-checkboxes {
	margin-bottom: 130px;
}

.contact-form__checkbox {
	margin: 9px 10px 0 0;
	opacity: 0;
	position: absolute;
	width: 20px;             
    height: 20px;
    z-index: 1;
}

.contact-form__checkbox-custom {
    position: relative;  
    display: inline-block;    
    width: 20px;             
    height: 20px;           
    background-image: url(../images/unchecked.png);
    vertical-align: middle;
	margin: -3px 6px 0 0;
}

.contact-form__checkbox:checked + .contact-form__checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;  
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(../images/checked.png); 
    cursor: pointer;
}

.contact-form__label {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	text-align: left;
}

.contact-form__textarea  {
	width: 520px;
	height: 140px;
	text-align: left;
}

.contact-form__button {
	font-size: 16px;
	width: auto;
	text-align: center;
	padding: 16px 30px;
	color: #fff;
	background-color: #345996;
	border-radius: 8px;
	border: none;
	margin-top: 70px;
}

.contact-form__button:hover {
	cursor: pointer;
}	

/* END OF FORM */

/* SLIDER */

.block__slider {
	margin-bottom: 100px;
}

.block__slider.ui-widget.ui-widget-content {
	background: transparent url(../images/slider_passive.png) 0 0 no-repeat;
	border:none;
	height: 25px;
}

.block__slider .ui-widget-header.ui-slider-range-min {
	background: transparent url(../images/slider_active.png) 0 0 no-repeat;
	height: 25px;
}

.block__slider .ui-slider-handle.ui-state-default {
	background: transparent url(../images/slider_handle.png) 0 0 no-repeat;
	width: 23px;
	height: 26px;
	border: none;
	top: 30px;
    margin-left: -13px;
    outline: none;
}

.block__jslevels {
	margin-top: 50px;
}

.block__jslevels td {
	font-family: Roboto;
    font-size:13px;
    color:#161616;
    font-weight: 300;
    width: 25%;
    text-align: left;
    vertical-align: bottom;
}

.block__jslevels td:nth-child(2) {padding-left: 2px;}
.block__jslevels td:nth-child(3) {padding-left: 6px;}
.block__jslevels td:nth-child(4) {padding-left: 10px;}

/* END OF SLIDER */